<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Capitulo:</strong>
  <%= @lesson.book_chapter %>
</p>

<%= link_to 'Voltar', course_path %>
