<p>nome: <%= @school.name %></p>
<p>email: <%= @school.email %></p>
<p>pitch: <%= @school.pitch %></p>
<p>subdominio: <%= @school.subdomain %></p>

<h1>Cursos cadastrados</h1>
<%= render @school.courses %>

<h1>Adicionar novo curso</h1>

<%= link_to 'Adicionar curso', new_school_course_path(@school) %>

<%= link_to 'voltar', schools_path %>
