<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @school.pitch %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @school.subdomain %>
</p>

<% unless @school.courses.empty? %>
  <h2>Nossos cursos</h2>
  <% @school.courses.each do |course| %>
    <%= course.title %>
    <%= course.price %>
    <%= link_to 'Detalhes', course_path %>
    <br/>
  <% end %>
<% else %>
  <p>Nenhum curso cadastrado.</p>
<% end %>
<br/>
<%= link_to 'Novo curso', new_course_path %>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
